#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  flex-direction: column;
  text-align: center;
}
header{
  height:10%;
  width: 100%;
}
#taskBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:90%;
  width:100%;
}
#taskBox .task{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width:30%;
  border:2px outset #c0c0c0;
}
.head{
  height:18%;
  width:100%;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 78%;
  width:100%;
}
.divider {
  width:90%;
  size: 3px;
  color:#c0c0c0;
}